<!DOCTYPE html>
<html>

<head>

  <title>Ala Obeidat</title> 
   <link rel="stylesheet" href="/css/styles.css">
  <meta charset="utf-8">

</head>

<body class="h-100">
  <div class="h-100" id="video_display" style="padding-left: 3px;">
    <div class="controlles">
      <button id="muteAudioBtn" class=" btn_option" onclick="muteAudio()">Mute Microphone</button>
      <button id="muteVideoBtn" class=" btn_option" onclick="muteVideo()">Mute Video</button>
      <button id="flipCameraBtn" class=" btn_option" onclick="flipCamera()">Flip camera</button>
    </div>
    <div id ="video_container" class="align-items-center">
      <div class="local_div" id="div1">
				<video id="localVideo"  class="" autoplay muted playsinline></video>
			</div>
			<div class="remote_div" id="div2">
				<video id="remoteVideo" class="" autoplay playsinline></video>
			</div>
    </div>
    <button style="margin-top: 5px; font-size: 30px;" class=" btn-danger" onclick="hangup()">End Call</button>
  </div>
  <div id="networkStatus">
    <h1>Connection => <span id="status"></span> : <span id="speed"></span></h1> 
    <h1>Room => <span id="roomText"></span></h1> 
    
  </div>
  <div style="position: fixed;bottom: 5;background-color:black;color:white;clear:both;text-align:center;padding:5px;font-size: 50px;width: 100%;margin-top: 5px;">
    Copy right :  Ala Obeidat @ 2021
    <br/>
    نسخة تجريبية لصالح <b>أبو هادي</b>
    </div> 

  <!-- Import SocketIO for signalling -->
  <script src="/socket.io/socket.io.js"></script>

  <!-- Import WebRTC adapter for compatibility with all the browsers  -->
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  
  <!-- Import TURN config -->
  <script src="js\config.js"></script>

  <!-- Import script containing WebRTC related functions -->
  <script src="js\main.js"></script>
  <script src="js\network.js"></script>
  
</body>

</html>
